 // import the CSS framework

html {
    font-weight: 200;
    font-size: 1.2em;
}

h2 {
    font-weight: 100;
    color: $brand-primary;
    font-size: 1.6em;
    padding: 0;
    padding-bottom: 12px;
    margin: 0;
}

main {
    @extend .container;
    background-color: #fff;
    padding-bottom: 80px;
    width: 100%;
}

.content {
    margin-top: 51px; // accommodate the navbar
}

section {
    @extend .row;
    margin-top: 20px;
}

.messages {
    @extend .alert;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
