// import the CSS framework

html {
    font-weight: 200;
    font-size: 1.2em;
    font-style: italic;
}

h2 {
    font-weight: 200;
    color: $brand-primary;
    font-size: 1.4em;
}

.tag {
    @extend .label;
    @extend .label-info;
    a {
        color: $label-color;
        &:hover, &:active, &:focus {
                               color: $label-color;
                           }
    }
}

.column {
    @extend .col-md-6;
    @extend .text-center;
}

.form {
    @extend .col-md-6;
}

.form-centered {
    @extend .col-md-6;
    @extend .text-center;
}

.submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
}

main {
    @extend .container;
    background-color: #fff;
    padding-bottom: 80px;
    width: 100%;
}

.content {
    margin-top: 51px; // accommodate the navbar
}

section {
    @extend .row;
    margin-top: 20px;
}

.bookmark-box {
    @extend .well;
    background-color: white;
    border-radius: 2px;
    padding-top: 0;
    color: darken($text-muted, 15%);
    font-size: 1.1em;
    font-weight: 100;
    h3 {
        font-size: 1.2em;
        font-weight: 300;
        a {
            color: darken($brand-primary, 30%);
        }
    }
    h4 {
        color: $text-muted;
        font-size: small;
        font-weight: 150;
        font-style: italic;
    }
}

.form-box {
    @extend .panel;
    @extend .panel-default;
}

.form-box-header {
    @extend .panel-heading;
    .title {
        @extend .panel-title;
        font-size: 1.2em;
        font-weight: 300;
    }
}

.form-box-body {
    @extend .panel-body;
}


.field {
    @extend .form-group;
}

input, textarea {
    @extend .form-control;
}

#error_explanation {
    h2 {
        font-size: 1.6em;
        font-weight: 300;
    }
    ul {
        list-style-type: none;
        font-size: 1.2em;
    }
    margin: 0 auto;
    .alert {
        padding: 0 20px 20px 20px;
    }
}
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

nav {
    @extend .navbar;
    @extend .navbar-fixed-top;

    font-weight: 100;
    border-bottom: 1px solid $brand-primary;
    background: white;

    .icon-bar {
        background-color: $brand-primary;
    }
    .navbar-brand {
        font-size: 2.2em;
    }
    a {
        text-decoration: none;
        color: $brand-primary !important;
        &:hover {
            border: 0 !important;
            background-color: inherit !important;
            color: $brand-primary !important;
            box-shadow: 0 -2px $brand-primary inset;
        }
        &:active {
            border: 0 !important;
            background-color: inherit !important;
            color: $brand-info !important;
            box-shadow: 0 -2px $brand-primary inset;
        }
        &:focus {
            border: 0 !important;
            background-color: inherit !important;
            color: $brand-primary !important;
            box-shadow: 0 -2px $brand-primary inset;

        }
    }
    a.dropdown-toggle {
        &:hover, &:active, &:focus {
            box-shadow: none;
        }
    }
    .navbar-nav {
        font-size: 1.3em;
        letter-spacing: 2px;
    }
    .dropdown-menu {
        padding: 1em 1em 1em 5px;
        a {
            &:hover, &:active, &:focus {
                                   box-shadow: none;
                                   text-decoration: $link-hover-decoration;
                               }

        }
    }

}

.messages {
    @extend .alert;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

a.delete-icon {
    color: $text-muted;
    &:hover, &:active {
                 color: $state-danger-text;
             }
}

a.edit-icon {
    color: $text-muted;
    &:hover, &:active {
                 color: $brand-primary;
             }
}
